<title>Coupon Form</title>

<%= form_tag '/coupons' %>
    <label>Coupon Code:</label>
    <br>
    <%= text_field_tag :'coupon[coupon_code]' %>
    <br>

    <label>Store:</label>
    <br>
    <%= text_field_tag :'coupon[store]' %>
    <br>

<%= submit_tag "Submit Coupon" %>